FitnessWebApp/Connected Services/BMIServiceReference/BMICalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalculateBMI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="heightCm" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="weightKg" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateBMIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculateBMIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateBMISoapIn">
    <wsdl:part name="parameters" element="tns:CalculateBMI" />
  </wsdl:message>
  <wsdl:message name="CalculateBMISoapOut">
    <wsdl:part name="parameters" element="tns:CalculateBMIResponse" />
  </wsdl:message>
  <wsdl:portType name="BMICalculatorSoap">
    <wsdl:operation name="CalculateBMI">
      <wsdl:input message="tns:CalculateBMISoapIn" />
      <wsdl:output message="tns:CalculateBMISoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BMICalculatorSoap" type="tns:BMICalculatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateBMI">
      <soap:operation soapAction="http://tempuri.org/CalculateBMI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BMICalculatorSoap12" type="tns:BMICalculatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateBMI">
      <soap12:operation soapAction="http://tempuri.org/CalculateBMI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BMICalculator">
    <wsdl:port name="BMICalculatorSoap" binding="tns:BMICalculatorSoap">
      <soap:address location="https://localhost:44393/WebServices/BMICalculator.asmx" />
    </wsdl:port>
    <wsdl:port name="BMICalculatorSoap12" binding="tns:BMICalculatorSoap12">
      <soap12:address location="https://localhost:44393/WebServices/BMICalculator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>